<!DOCTYPE html>
<html>
<head>
	<title>Weather App</title>
	<meta name="description" content="Klaviyo Weather App">
	<style type="text/css">
		#main-header{
			text-align:center;
			background-color:black;
			color:white;
			padding:10px;
		}

		#main-footer{
			text-align: center;
			font-size:18px;
		}
	</style>
</head>
<body>
	<header id="main-header">
		<!-- <h1>Weather Power Email</h1> -->
	</header>
  <h1 style="text-align:center"> Please enter a valid email address! </h1>
  <h1 style="text-align:center"> Thank you! </h1>
	<footer id="main-footer">
		<p>Copyright &copy; 2018, Weather Powered Email, by Klaviyo</p>
	</footer>
</body>
</html>
